/Altair101/asm/build/
/Altair101/asm/nbproject/private/
/Altair101/development/serialWrite/nbproject/private/
/Altair101/development/serialWrite/build/
/Altair101/asm/dist/
/Altair101/development/serialjWrite/nbproject/private/
/Altair101/development/serialjRead/nbproject/private/
/Altair101/development/serialjWrite/build/
/Altair101/development/serialjWrite/dist/
/instructables/mp3infraredDev/mp3dfplayerFiles/nbproject/private/
/instructables/mp3infrared/mp3dfplayerFiles/nbproject/private/
/instructables/mp3infrared/mp3dfplayerFiles/build/